@charset "UTF-8";
body, html, main{
    width: 100vw;
    height: 100vh;
}
#background {
    background-image: url('/images/BgBubbles.svg');
    background-repeat: no-repeat;
    background-color: #15161B;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.display-5{
    font-weight: 700;
    font-size: 1.5rem;
}
/*Main*/
.image-principal img { 
    /* width: 40vw; */
    height: 60vh;
    margin-bottom: 20px;
}
.text-principal {
    margin-left: 150px;
}
.text-principal h4 { 
    font-size: 1rem;
}
.text-principal h1 { 
    font-size: 1.5rem;
}
.button-principal { 
    width: 35vw;
    font-size: 1.5rem;
    background: #1A7993;
    color: white;
}
.button-principal:hover{
    background: #81b0be;
}
/*Segundo container*/
.procuras img{
    margin: 0 35px;
    padding: 50px;
}
.procuras P{ 
    display: flex;
    justify-content: space-around;
    
}
/*Terceiro container*/
.bg-container {
    /* width: -500px; */
    height: 55vh;
    margin-top: 100px;
    background-color: #1A7993;
    border-radius: 10px;    
}
.container-central h5 {
    margin: 20px 125px;
}
.container-central p {
    margin: 20px 125px;
    font-size: 1.2rem;
    font-weight: 400;
}
.button-central { 
    width: 20vw;
    height: 10vh;
    margin-left: 200px;
    font-size: 1rem;
    font-weight: 500;
    background: #FAFBFF;
    color: black;
    border-radius: 10px;
}
.button-central:hover { 
    background: #000000;
    color: rgb(255, 255, 255);
}
.img-central img{
    margin: ;
    width: 30vw;
    height: 55vh;
    border-radius: 30px;
}

/*FORMULÁRIO*/
.formulario-container{
    margin-top: 100px;
}
.form-control { 
    width: 350px;
    /* display: block; */
    margin: 0 auto;
}

/*FOOTER*/
footer { 
    width: 100vw;
    height: 50vh;
    position: absolute;
    top:285%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.redes-sociais {
    border-top: 1px solid white ;
    margin-top: 100px;
}

.redes-sociais img{ 
    margin: 50px;
}



/*Medias Queries*/
/* @media screen and (min-width: 300px) and (max-width: 767px) {
    body{
        width: 90%;
    }
    .image-principal, .img-central img{
        display: none;
    }

}
@media screen and (min-width: 768px) and (max-width: 1023px) {

}
@media only screen and (min-width: 1024px) {

} */


